.item-detail-container {
  display: grid;
  grid-template-areas:
    "img details"
    "img details";
  grid-template-rows: 12rem 12rem;
  grid-template-columns: 1fr 1fr;
}

.item-detail-img {
  grid-area: img;
  background-color: #2323;
}
.item-detail-img img {
  height: 100%;
  object-fit: cover;
  padding: 1rem;
  border-radius: 24px;
}

.item-detail-details {
  grid-area: details;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  text-align: left;
  padding: 1rem 4rem;
  background-color: #4444;
}

/**--------DETAILS----------------**/
.detail-description {
  text-transform: uppercase;
  padding: 0.3rem 0;
  color: #3d3d3d;
}

.detail-type {
  margin-bottom: 0.3rem;
  color: #3d3d3d;
}

.detail-rate {
  font-size: 1.1rem;
  margin-bottom: 0.4rem;
  color: #3d3d3d;
}

.detail-price {
  color: var(--main-red);
  font-weight: 600;
  font-size: 1.4rem;
}

.btn-order {
  background-color: var(--main-red);
  border: 1px solid #2223;

  color: #fff;
  font-size: 1.2rem;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.buttons a {
  background-color: var(--main-red);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 9px;
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
}

.details-icons {
  letter-spacing: 25px;
  color: var(--main-red);
  font-size: 18px;
  margin: 0.3rem 0rem;
}

/**------------TOP BAR-------------**/

.topbanner {
  background-color: var(--main-red);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.2rem 0;
  color: #fff;
}

.topbanner button {
  background-color: #fff;
  color: var(--main-red);
  font-weight: 600;
}
.topbanner button i {
  font-size: 15px;
}

@media (max-width: 1100px) {
  .item-detail-container {
    grid-template-areas:
      "img img"
      "details details";
    grid-template-rows: auto auto;
  }
  .item-detail-img img {
    width: 100%;
  }
}
@media (max-width: 1300px) {
  .item-detail-container {
    grid-template-rows: auto auto;
  }
  .item-detail-img img {
    width: 100%;
  }
}

/**--- ITEM DETAIL MAIN-------**/

.login-banner {
  display: flex;
  justify-content: space-evenly;
  padding: 0.7rem;
  align-items: center;

  background-color: #0c0e0d;
  color: antiquewhite;
}

.login-banner button {
  border-radius: 6px;
  padding: 0.3rem;
  background-image: linear-gradient(#eb5757, rgb(255, 0, 242));
  color: #fff;
}

@media (max-width: 568px) {
  .login-banner {
    font-size: 11px;
  }
  .login-banner button {
    font-size: 11px;
  }
}

.accommodations {
  display: grid;
  grid-template-areas:
    "amenities conditions"
    "amenities conditions"
    "about about";
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  gap: 2rem;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem; */
}

@media (max-width: 568px) {
  .accommodations {
    grid-template-areas:
      "amenities amenities"
      "conditions conditions"
      "about about";
  }
}

.accommodation-amenities-container {
  grid-area: amenities;
  background-color: #b3b3b3;
  margin-top: 1rem;
  border-radius: 6px;
  padding: 2rem;
}
.accommodation-conditions-container {
  grid-area: conditions;
  background-color: #b3b3b3;
  line-height: 34px;

  margin-top: 1rem;
  border-radius: 6px;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.accommodation-amenities {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3rem;
  text-align: left;
}

.accommodation-amenities li {
  color: #3d3d3d;
}

.accommodation-conditions {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.accommodation-conditions p {
  text-align: left;
  color: #3d3d3d;
}

.about-container {
  grid-area: about;
  margin: 0.5rem 0;
}

.about-container h3 {
  margin-top: 1rem;
}

.about-container p {
  font-size: 14px;
  color: #3d3d3d;
  padding: 0 10%;
  padding-bottom: 10%;
}
