@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Poppins&family=Raleway:wght@100;400&family=Rubik:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

.container {
  margin: 0 5%;
}

/*? TOPBAR **/

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.navbar img {
  height: 25px;
}

.form {
  display: flex;
  border-radius: 20px;
  /* border: 1px solid #333; */
}

.form input {
  margin: 0;
  padding: 0.5rem 0.8rem;
  outline: none;
}

.input-location {
  border: 1px solid #3333332a;
  border-radius: 10px 0px 0px 10px;
  width: 8rem;
}
.input-guests {
  border: 1px solid #3333332a;
  border-left: 1px solid rgba(78, 78, 78, 0.158);

  width: 8rem;
}

.search-btn {
  border-radius: 0px 10px 10px 0px;
  border: 1px solid #3333332a;
  width: 3rem;
}

.search-btn i {
  font-size: 1.1rem;
  color: red;
  font-weight: bold;
  cursor: pointer;
}

/**------- END TOPBAR ---------------**/

/*************? MAIN CONTENT **********/

/********* TOP BAR  MAIN *******/

main {
  margin-top: 3rem;
  margin-bottom: 14rem;
}

.topbar-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  justify-content: center;
}
.items-container .card-description {
  margin: 0.5rem 0;
}
.items-container h4 {
  margin-top: 1rem;
  cursor: pointer;
}
.items-container h4:hover {
  text-decoration: underline;
}

.card {
  width: 450px;
  padding: 0.5rem;
  margin-bottom: 4%;
}

.card-img img {
  width: 100%;
  border-radius: 24px;
  object-fit: cover;
}

.card-img img:hover {
  cursor: pointer;
}

.card-description {
  display: flex;
  justify-content: space-between;
}

.card-desc-stars i {
  color: #eb5757;
}

.super-hot{
  border: 2px solid #eb5757;
  border-radius: 24px;
  padding: 2px 4px;
  color: #eb5757;
}